body {
    background-image: url(/img/—Pngtree—jungle_5631421.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  
}


.grid {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
  }
  
  .grid div {
    width: 20px;
    height: 20px;
  }
  
  .snake {
    background-color: blue;
  }
  
  .apple {
    background-color: purple;
  }